.tableAtaques
{
    position: relative;
    left: 0%;
    width: 95%;
    background-color: darkkhaki;
}

.cambiarAtaques
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

.botones-ataques
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    position: absolute;
    top: 85%;
    left: 45%;
}

#crearataque-button
{
    position: relative;
    bottom: 20px;
}

#venderataque-button
{
    position: relative;
    bottom: 10px;
}

@media only screen and (max-width: 767px)
{
    .botones-ataques
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;
        position: absolute;
        top: 85%;
        left: 34%;
    }

    h2
    {
        font-size: xxx-large;
    }
}