.tableHistoring
{
    position: relative;
    left: 0%;
    width: 95%;
    background-color: darkkhaki;
}

.historialPlayers
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}