.imgbackg {
    /* Usamos esta propiedad para tomar todo el fondo */
    background-image: url("public/HomeImages/DALLE_2023-11-10_23.59.59_-_A_text-free_8-bit_style_video_game_background_showcasing_a_vibrant_fantastical_forest_and_mountains_landscape._The_scene_includes_a_prominent_cave_e.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    text-align: center;
    margin: 0; /* Agregado margen cero */
    position: relative; /* Agregada posición relativa */
}

#perfil-container {
    text-align: center;
    background-color: #2980b9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 30%;
    position: absolute;
    border-radius: 3%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 55%;
    margin: auto;
}

#backpack-at {
    text-align: center;
    background-color: #87CEEB;
    width: 42%;
    height: 50%;
    border-radius: 3%;
    position: fixed; /* Utilizamos position: fixed para que el elemento sea fijo en la pantalla */
    left: 9%; /* Coloca el elemento a la izquierda */
    bottom: 5%; /* Coloca el elemento en la parte inferior */
    font-family: Asimov;
    font-size: 1.2em;
}

#next-attacks {
    text-align: center;
    background-color: #87CEEB;
    width: 42%;
    height: 50%;
    border-radius: 3%;
    position: fixed; /* Utilizamos position: fixed para que el elemento sea fijo en la pantalla */
    right: 6.2%; /* Coloca el elemento a la izquierda */
    bottom: 5%; /* Coloca el elemento en la parte inferior */
    font-family: Asimov;
    font-size: 1.2em;
}

#imagen-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 1140px;
}

#imagen-ajustes {
    width: 90px;
    margin-top: -1000px;
    margin-bottom: 23px;
    height: 90px;
    border-radius: 50%;
    margin-right: -850px;
}

.nombre-perfil {
    margin-top: -120px;
    font-size: 1.5em;
    margin-right: 400px;
    color: #282828;
}

#nivel-perfil {
    margin-top: 5px;
    font-size: 1.2em;
    color: #ffffff;
    font-family: Asimov;
    margin-right: 535px;
}

#xp {
    margin-top: -40px;
    font-size: 1.2em;
    color: #ffffff;
    font-family: Asimov;
    margin-right: 250px;
}

#monedas {
    margin-top: -40px;
    font-size: 1.2em;
    color: #ffffff;
    font-family: Asimov;
    margin-right: -20px;
}

.perfil-titulo {
    font-size: 2.5em; /* Ajusta el tamaño del título según tus necesidades */
    margin-bottom: 15px; /* Ajusta el margen inferior según tus necesidades */
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .imgbackg {
        padding: 10px; /* Ajusta el relleno para dispositivos móviles */
    }

    #perfil-container {
        width: 90%; /* Ajusta el ancho para dispositivos móviles */
        height: auto; /* Ajusta la altura automáticamente para dispositivos móviles */
        bottom: 50%; /* Puedes ajustar esta propiedad según sea necesario */
    }

    #backpack-at,
    #next-attacks {
        width: 90%; /* Ajusta el ancho para dispositivos móviles */
        height: auto; /* Ajusta la altura automáticamente para dispositivos móviles */
        left: 5%; /* Ajusta la posición a la izquierda para dispositivos móviles */
        right: 5%; /* Ajusta la posición a la derecha para dispositivos móviles */
        font-size: 1em; /* Ajusta el tamaño de fuente para dispositivos móviles */
    }

    /* Otros estilos específicos para dispositivos móviles según sea necesario */
}
