.imgbackg4 {
    background-image: url("../../public/HomeImages/fondo-de-pagina.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#perfil-container {
    text-align: center;
    background-color: #2980b9;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
    left: 8%;
    width: 85%;
}

#backpack-at {
    text-align: center;
    background-color: #87CEEB;
    width: 42%;
    height: 50%;
    border-radius: 3%;
    left: 9%; /* Coloca el elemento a la izquierda */
    bottom: 5%; /* Coloca el elemento en la parte inferior */
    font-family: Asimov;
    font-size: 1.2em;
}

#next-attacks {
    text-align: center;
    background-color: #87CEEB;
    width: 42%;
    height: 50%;
    border-radius: 3%;
    right: 6.2%; /* Coloca el elemento a la izquierda */
    bottom: 5%; /* Coloca el elemento en la parte inferior */
    font-family: Asimov;
    font-size: 1.2em;
}

#imagen-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#imagen-ajustes {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nombre-perfil {
    font-size: 1.5em;
    color: #282828;
}

#nivel-perfil {
    font-size: 1.2em;
    color: #ffffff;
    font-family: Asimov;
}

#xp {
    font-size: 1.2em;
    color: #ffffff;
    font-family: Asimov;
}

#monedas {
    font-size: 1.2em;
    color: #ffffff;
    font-family: Asimov;
}

.perfil-titulo {
    font-size: 2em; /* Ajusta el tamaño del título según tus necesidades */
    text-align: left;
    font-family: Asimov, serif;
    color: #FFDB58;
    margin-left: 5%;
}

.perfil-jugador {
    font-size: 2em; /* Ajusta el tamaño del título según tus necesidades */
    text-align: left;
    font-family: Asimov, serif;
    color: #FFDB58;
    margin-left: 5%;
    margin-bottom: 0;
    margin-top: 20px;
}

@media only screen and (max-width: 767px) {
    .imgbackg {
        padding: 10px; /* Ajusta el relleno para dispositivos móviles */
    }

    #perfil-container {
        width: 90%;
        top: 4%;
        left: 5%;
        position: relative;
    }

    #backpack-at,
    #next-attacks {
        width: 90%; /* Ajusta el ancho para dispositivos móviles */
        height: auto; /* Ajusta la altura automáticamente para dispositivos móviles */
        left: 5%; /* Ajusta la posición a la izquierda para dispositivos móviles */
        right: 5%; /* Ajusta la posición a la derecha para dispositivos móviles */
        font-size: 1em; /* Ajusta el tamaño de fuente para dispositivos móviles */
    }

    /* Otros estilos específicos para dispositivos móviles según sea necesario */
}

#ataques{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#idperfil{
    display: flex;
    align-items: center;
}

#idinfo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
