/* Estilos básicos del cuerpo de la página */
body-menu {
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}

/* Estilos para la cuadrícula principal */
.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    padding: 2%;
}

/* Estilos comunes para columnas genéricas */
.generic-column {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ajustes responsivos para pantallas de móvil */
@media only screen and (max-width: 700px) {
    .main-grid {
        grid-template-columns: 1fr; /* Solo una columna */
        height: 100vh; /* Altura igual a la del viewport */
    }

    .main-grid > :first-child,
    .main-grid > :last-child {
        display: none;
    }

    /* Asegurarse de que la columna central ocupe toda la altura disponible */
    .main-grid > :nth-child(2) { /* Asumiendo que la columna central es la segunda */
        height: 100vh;
    }
}

/* Ajustes para pantallas medianas */
@media only screen and (min-width: 701px) and (max-width: 1024px) {
    .main-grid {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas para pantallas medianas */
    }
}
