#imgbackg3 {
    background-image: url("../../public/HomeImages/fondo-de-pagina.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.column1,
.column2 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .column2 {
        display: none;
    }
    .signUp {
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
    }
}

.openEvents-button {
    display: block !important;
}

.signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #2980b9;
    border-radius: 30px;
    width: 330px;
}


.signupButtonTwo {
    top: 50px;
    display: inline !important;
    font-family: Asimov, serif;
    font-size: 25px;
    color: #282828;
    margin-bottom: 10px;
}

form {
    top: 200%;
}

h2 {
    font-size: 70px;
    color: #FFDB58;
    font-family: Asimov, serif;
}

.link {
    color: #ffffff;
}

body {
    overflow: hidden;
}

.imgurl-input,
.playerid-input,
.password-input {
    width: 70%; /* Ajusta el ancho de los campos de entrada según tus necesidades */
    margin-bottom: 20px; /* Ajusta el margen inferior según tus necesidades */
}

.playerid-input {
    margin-bottom: 20px; /* Ajusta el margen inferior según tus necesidades */
}

.password-input {
    margin-bottom: 30px; /* Ajusta el margen inferior según tus necesidades */
}