.grid-container {
  display: grid;
    grid-template-areas:
                'space space space'
                'space grid-win-loss space';
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-gap: 10px;
  padding: 10px;
}

.grid-win-loss {
    display: grid;
    grid-template-areas:
                'win-loss'
                'grid-win-loss1';
    grid-template-rows: 1fr 3fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 50px;

}

.grid-win-loss1 {
    display: grid;
    grid-template-areas:
                'space xp space'
                'rewards space stats'
                'space grid-rewards space'
                'space continue-button space';
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.space {
    padding: 10px;
    font-size: 150%;
    text-align: center;
}

.game-name {
    padding: 10px;
    font-size: 150%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 50px;
}

.win-loss {
    padding: 10px;
    font-size: 150%;
    text-align: center;
    color: #f2f2f2;
    background-color: rgba(41, 128, 185, 0.78);
    border-radius: 50px;
}

.xp {
    padding: 10px;
    font-size: 150%;
    text-align: center;
    background-color: rgba(41, 128, 185, 0.78);
    border-radius: 25px;
    color: #f2f2f2;
}

.rewards {
    padding: 10px;
    font-size: 150%;
    text-align: center;
    background-color: rgba(41, 128, 185, 0.78);
    border-radius: 25px;
    color: #f2f2f2;
}

.stats {
    padding: 10px;
    font-size: 150%;
    text-align: center;
    background-color: rgba(41, 128, 185, 0.78);
    border-radius: 25px;
    color: #f2f2f2;
}

.grid-rewards {
    display: grid;
    grid-template-areas:
                'atack coins winrate';
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;

}

.atack {
    padding: 10px;
    font-size: 150%;
    text-align: center;
    background-color: rgba(41, 128, 185, 0.78);
    border-radius: 50px;
    color: #f2f2f2;
}

.coins {
    padding: 10px;
    font-size: 150%;
    text-align: center;
    background-color: rgba(41, 128, 185, 0.78);
    border-radius: 50px;
    color: #f2f2f2;
}

.winrate {
    padding: 10px;
    font-size: 150%;
    text-align: center;
    background-color: rgba(41, 128, 185, 0.78);
    border-radius: 50px;
    color: #f2f2f2;
}

.style-button {
    display: block; /* Hacemos que los enlaces sean bloques para que estén uno debajo del otro */
    margin-bottom: 10px; /* Ajustamos el espacio entre los enlaces según tus preferencias */
    background-color: #FFA500;
    color: #fff;
    padding: 10px 20px;
    font-family: Asimov, serif;
    font-size: 30px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Quitamos la subrayado del enlace */
}





